.root {
  padding: 20px;
  & > :not(:first-child){
    margin-top: 16px;
  }
}

.filtersContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.itemsContainer {
  display: grid;
  grid-gap: 8px;
}

.productContainer {
  padding: 8px;
  border: 1px solid #000;
}
